{% extends 'master/base.html' %}

{% block body %}
  <h1>List of All Tasks Available</h1>

  <div class="card" style="">
    {% if data.task_image %}
      <img src="/{{ data.task_image }}" class="card-img-top" alt="..." />
    {% else %}
      <p>No Preview Found</p>
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ data.title }}</h5>
      <p class="card-text">{{ data.description }}</p>
      <a href="{% url 'home_page' %}" class="btn btn-primary">View Home Page</a>
    </div>
  </div>
  <div class="card-body">
    <a href="{% url 'edit_task' data.id %}" class="btn btn-warning">Edit Task</a>
    <a href="{% url 'delete_task' data.id %}" class="btn btn-danger">Delete Task</a>
  </div>
{% endblock %}
